.git
.gitignore
README.md
**/target/
**/build/
**/.gradle/
.gradle/
**/gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.jar
**/gradlew
**/gradlew.bat
**/.project
**/.classpath
**/.settings/
**/.factorypath
**/bin/
**/*.iml
**/*.ipr
**/*.iws
**/.idea/
Dockerfile*
docker-compose*
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/test-results/
**/reports/